body{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Martel', serif;
    /* font-family: 'Courgette', cursive; */
}
.font-cour{
    font-family: 'Courgette', cursive;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    /* --primary:rgb(237, 203, 154); */
    --primary:#D9945D;
    --black:#272f3b;
    --black-text:#404040;
    --gray:#ECECEC;
    --gray-dark:#ececec;
}
.main-heading{
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
}
.second-heading{
    z-index: 6;
    font-family: Courgette;
    touch-action: manipulation;
    height: auto;
    width: auto;
    color: rgb(141, 142, 144);
    text-align: inherit;
    /* line-height: 37px; */
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 18px;
  
}
.text-gray{
    color: rgb(141, 142, 144);
}
.text-white{
    color: white !important;
}
/*  */
.f-60{
    font-size: 60px;
}
.f-40{
    font-size: 40px;
}
.f-30{
    font-size: 30px;
}
.f-24{
    font-size: 24px;
}
.f-20{
    font-size: 20px;
}
.f-18{
    font-size: 18px;
}
.f-16{
    font-size: 16px;
}
.f-14{
    font-size: 14px;
}
.f-12{
    font-size: 12px
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.w-800{
    font-weight: 800;
}
.text-black{
   color: var(--black-text) !important;
}
.text-ellipsis--1{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 200px;
  }
.text-ellipsis--2{
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .text-ellipsis--5{
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .text-ellipsis--4{
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .no-decoration{
    text-decoration: none;
  }
/* ========================================================================Navbar */
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 2rem); 
    padding-left: var(--bs-gutter-x,2rem);
    margin-right: auto;
    margin-left: auto;
} */
.header-navbar{
    height: 100px;
    /* background-color: #272f3b; */
    display: flex;
    align-items: flex-end;
    padding: 10px 60px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    width: 98.2% !important;
}

.navbar-toggler-icon{
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none;
}
.bi-list{
    color: white;
    font-size: 25px;
}
.navbar-toggler{
    outline: none;
    border: 2px solid var(--primary) !important;
    border-radius: 0px !important;
    height: 65px;
    width: 65px;
    background-color: var(--primary);
}
.navbar-brand img{
    height: 75px;
    width: auto;
    /* margin-left: 100px; */
}
.number-nav{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary);
    font-family:Arial, Helvetica, sans-serif;


}
.number-nav:hover{
    color: var(--primary);
}


.nav-link{
    font-size: 17px;
    font-weight: 500;
    color: white !important;
    padding: 20px 15px !important;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link:hover{
    color: var(--primary) !important;
}
.active{
    color: var(--primary) !important;
}
.dropdown-menu{
    position: absolute ;
    margin-left: 100px !important;
    width: fit-content;
    padding: 15px;
}
.bi-x{
    font-size: 25px;
    color: white;
}
/* =====================================================slider */
.header-carousel{
    height: 100vh !important;
    overflow: hidden;
}
.carousel-item{
    height: 100vh !important;
}
.carousel-item img{
    height: 100vh !important;
    animation: mover 10s;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
@keyframes mover {
    0% { transform: scale(1);}
    100% { transform: scale(1.1); }
}
.carousel-caption{
    position: absolute;
    top: 0;
    left: 12%;
  
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden !important;
    max-width: fit-content;
}
.navbar-heading{
    z-index: 5;
    font-family: Martel;
    touch-action: manipulation;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: left;
    line-height: 65px;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 58px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    animation: zoom-out 1s ease ;
    animation-delay: 1500;
    animation-duration: 1500;
}
.navbar-text{
    z-index: 6;
    font-family: Courgette;
    touch-action: manipulation;
    height: auto;
    width: auto;
    color: rgb(141, 142, 144);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 37px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    animation: zoom-out 1s ease ;
    animation-delay: 1500;
    animation-duration: 1500;
}
.navbar-btn{
    z-index: 7;
    background-color: var(--primary);
    font-family: "Roboto Slab";
    text-transform: lowercase;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    touch-action: manipulation;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 18px;
    border-color: rgb(237, 203, 154);
    border-style: solid;
    border-width: 2px;
    padding: 22px 67px 23px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    animation: fadeInUp 1s ease ;
    animation-delay: 5000;
    animation-duration: 1500;
}
.navbar-btn:hover{
    background-color: var(--primary) !important;
}
@keyframes zoom-out {
    0% {
      transform: scale(1.5, 1.5);
    }
    
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.carousel-social{
    position: absolute;
    top: 47%;
    left: 4%;

}
@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-100px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 .social-line{
    animation: fadeInDown 1s ease ;
    animation-delay: 5000;
    animation-duration: 1500;
 }
.social-line i{
  font-size: 17px;
  color: white;
  padding:  20px 0px !important;
  cursor: pointer;
 
}
.social-line i:hover{
    color: var(--primary);
}
.dropdown-menu-header{
    margin-left: 15px !important;
    border: none !important;
    padding: 10px !important;
    color: white !important;
    margin-top: -18px !important;
}
/* ===============================================upcoming events */
.events-heading{
    background-color:var(--primary) ;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events-heading h1{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.upcoming-card{
    min-height: 250px;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
}
.upcoming-card img{
    min-height: 250px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.upcoming-card2{
    object-fit: contain !important;
}
.upcoming-card2 img{
    object-fit: contain !important;
}
.upcoming-date{
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid var(--primary);
    padding: 7px;
}
.upcoming-date h1{
   font-size: 40px;
   font-weight: 600;
   color: var(--primary) !important;
   text-align: center;
}
.upcoming-date h3{ 
    font-size: 18px;
    color: white;
    background-color: #39B248;
    text-align: center;
    padding: 3px 10px;
}
.upcoming-card-details {
    position: absolute;
    z-index: 100;
    height: 55px;
    padding:20px 25px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    bottom: 0px;
    top: 100%;
    margin-top: -55px;
    transition: all .6s;
    text-decoration: none !important;
    color: white;
}
.upcoming-card-details a{
    text-decoration: none !important;
    color: white;
    font-weight: 700;
    padding-top: 7px !important;
}
.upcoming-card:hover .upcoming-card-details{
    height: 100%;
    top: 0;
    margin-top: 0px;
    background: rgba(0, 0, 0, .8);
}
.upcoming-card-details  h1{
    font-size: 18px;
    color: var(--primary);
    line-height: 1em;
    position: relative;
    margin-left: 0px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
   width: 95%;
   text-overflow: ellipsis;
   overflow: hidden;
   padding-left: 34px;
   padding-top: 5px;
}
.upcoming-card-details  h1::before{
    content: " ";
    height: 20px;
    width: 20px;
    border: 2px solid #39B248;
    position: absolute;
    top: 2px;
    left: 5px;
    border-radius: 100%;
}
.upcoming-card-details  p{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    padding: 0px 10px;
}
.upcoming-card-details  button{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    background-color: #39B248;
    width: 100%;
    border: none !important;
    padding: 4px 0px !important;
    border-radius: 3px;
}
.upcoming-events .owl-nav{
    display: none;
}
 .owl-dots{
    display: none;
}

/* =================================================video section */
.section{
    padding:100px 0px !important;
}
.bg-gray{
    background-color: #F6F6F6 !important;
}
.video-col{
    padding-right: 30px !important;
}
.video-text h3{
    font-size: 16px;
    font-weight: 600;
}
.video-text p{
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: #8d8e90;
}
/* ============================================================courses */
.course-card{
    background-color: white;
    cursor: pointer;
}
.course-card img{
height: 215px;
width: 100%;
object-fit: cover;
transition: all 2s;
}
.course-card img:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.8) !important;
    z-index: 10;
}
.course-card .image-div{
    overflow: hidden;
    position: relative;
}
.course-price{
    z-index: 100 !important;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
   top: -16%;
   right: 10%;
}
.course-card .text{
    padding:45px 40px 40px 40px;
    position: relative;
    z-index: 10;
}
.course-card .text a{
    color: #404040;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}
.course-card .text a:hover{
    color: var(--primary);
    font-size: 25px;
    
}
.course-card .text p{
    color:  #8d8e90;
    font-size: 13px;
    font-weight: 500;
   
}

.course-card .text i{
    color:  var(--primary);
    font-size: 16px;
    font-weight: 500;
}
.course-card .text h3{
    color:  #8d8e90;
    font-size: 16px;
    font-weight: 500;
}
/* ===========================================Testimonials */
.testimonials{
    background-color: white;
    padding: 0px 0px;
    margin-top: -180px;
    height: 100%;
}
.testimonials .owl-next::after{
    content: ' ';
    display: block;
    color: var(--primary);
    background-color: rgba(255,255,255,0);
}
.testimonials .owl-next span{
    display: none;
}
.testimonials .owl-prev{
    margin-left: -30px;
}
.testimonials .owl-prev i{
    color: var(--primary);
   font-size: 20px;
} 
.testimonials .owl-next{
    margin-right: -20px;
}
.testimonials .owl-next i{
    color: var(--primary);
   font-size: 20px;
} 
.testimonials-card{
    padding: 30px 20px;
    background-color:white;
}
.testimonials-card .testimonials-dp{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    flex-shrink: 0 !important;
}
.testimonials-card .testimonials-dp img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    flex-shrink: 0 !important;
}
.testimonials-card h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}
.testimonials-card p{
    color:  #8d8e90;
    font-size: 14px;
    font-weight: 500;
}
.testimonials .owl-nav{
    display:flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    z-index: 1000 !important;
    position:  relative;
    margin-top: -15% !important;
}
.books-text{
    margin-top: 50px;
}
/* =============================================featured cients */
.client-logo{
    height: auto !important;
    width: 130px !important;
    cursor: pointer;
    margin: 0px auto;
}
.clients-scroller1 .owl-nav,
.clients-scroller2 .owl-nav{
    display: none;
}
/* ==========================================================news-blog */
.news-blog{
    position: relative;
    cursor: pointer;
}
.news-blog--text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
}
.news-blog--text h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}
.news-blog--text i{
    font-size: 40px;
    font-weight: 500;
    color: var(--primary);
    
}
.news-input{
    height: 55px;
    width: 300px;
    color: #8e8e8e;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 6px 15px;
}
.news-input:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.subscribe-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  
    text-align: inherit;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 18px; 
}
.subscribe-btn{
    border-radius: 2px;
    z-index: 7;
    background-color:var(--primary);
    font-family: "Roboto Slab";
    cursor: pointer;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    touch-action: manipulation;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 18px;
    border-color: rgb(237, 203, 154);
    border-style: solid;
    border-width: 2px;
    padding: 15px 67px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    animation: fadeInUp 1s ease ;
    animation-delay: 5000;
    animation-duration: 1500;
}
.subscribe-btn:hover{
    background-color: var(--primary) !important;
}
.news-check{
    color: #8d8e90;
    font-size: 15px;
    font-weight: 500;

}
.text-primary{
    color: var(--primary) !important;
}
.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}
.form-check-input{
    display: flex;
    flex-shrink: 0 !important;
}
/* ==================================================footer */
.footer{
    background-color: #272f3b;
    color: #a6a6a6;
    padding: 100px 0px;
}
.social-contact-row{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social-contact-row-div{
    color: #ffffff;
    background-color: rgba(255,255,255,0.06);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}
.social-contact-row-div i{
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.social-contact-row-div i:hover{
    color: var(--primary);
    
}
.footer-line{
    height: 1px solid var(--primary);
    width: 100%;
}
.footer-text{
    font-size: 14px;
    color: #8d8e90;
    text-decoration: none !important;
}
.footer-text:hover{
   color: var(--primary);
}
.footer-logo img{
    height: 90px;
}
.no-decoration{
    text-decoration: none;
}
/* =====================================================courses description */
.courses-img{
    background:linear-gradient( to left,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/header_bg.jpg');
    height: 85vh;
    width: 100%;
    background-position:top ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    
}
.courses-sidebar{
    background-color: var(--gray) !important;
    
}
.side-image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.side-price{
    color: var(--black);
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin: 50px 0px 20px 0px;
}
.side-line{
    border: 1px solid gray;
    height: 4px ;
    width: 100%;
    background-color: gray;
}
.featured-card-box{
   
    padding: 30px;
}
.featured-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.small-img{
    height: 60px;
    width: auto;
    object-fit: contain;
}
.small-img2{
    height: 70px;
    width:auto;
    object-fit: contain;
}
/* =======================================================tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: var(--gray-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(204, 204, 204, 0.3);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color:transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 800;
    color:  var(--black-text);
    width: 30%;
    border-top: 2px solid transparent;

  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
    border-top: 2px solid var(--black-text);
    color: black !important;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: white;
    border-top: 2px solid var(--black-text);
    color: black !important;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px 12px;
    border-top: none;
  }
  .img-div{
    display: flex;
    flex-shrink: 0;
  }
  .text-justify{
    text-align: justify;
  }
  /* ==============================accordians */
  .accordion-button{
    background-color: white;
    border: none !important;
    font-size: 16px;
    color: black;
    font-weight: 800;

  }
  .accordion-button:not(.collapsed){
    box-shadow: none !important;
    border: 0px solid black;
    color: black;
    background-color:white;
  }
  .accordion-item{
    border: none !important;
  }
  .accordion-body{
    background-color: #ececec;
    padding: 30px;
  }
  .accordion-body h1{
    font-size: 16px;
    font-weight: 800;
    color: #8d8e90;
  }
  .accordion-body i{
    font-size: 20px;
    color: black;
  }
  .time{
    padding: 6px 5px;
    background: #d9e0f1;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 600;
    line-height: 10px;
}
.questions{
background-color: var(--primary);
font-size: 13px;
color: white;
display: flex;
justify-content: end;
align-items: center;
font-weight: 600;
line-height: 10px;
padding: 6px 5px;

}
.final{
    background-color: black;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 600;
    line-height: 10px;
    padding: 6px 5px;
    
    }
    .text-yellow{
    color: #FFB60A;
    }
    .progress{
        background-color: #dbdbdb;
        height: 5px !important;
        width: 100% !important;
    }
    .riew-rate-box{
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        color: white;
    }
    .review-rate-box i{
        color:  #D1B081 !important;
    }
    .riew-rate-box h1{
        font-size: 40px;
        font-weight: 800;
    }
    .riew-rate-box h2{
        font-size: 20px;
        font-weight: 800;
    }
    /* ==========================leave a comment */
    .comment-input{
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 15px;
        width: 100%;
    }
    .comment-textarea{
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        font-size: 14px;
        font-weight: 700;
        padding: 15px 15px;
        width: 100% !important;
    }
    .comment{
        border: 3px solid var(--gray);
        padding: 40px;
    }
    /* ==========================================events details page */
    .events-img{
        background-image: url('../images/istockphoto-1340024049-170667a.jpg');
        height: 70vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .power-img{
        background-image: url('../images/pictures\ for\ Upcoming\ Events/powerW.png');
        height: 85vh;
        width: 100%;
        background-position:top ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .leader-img{
        background:linear-gradient( to left,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/pictures\ for\ Upcoming\ Events/manner.png');
        height: 85vh;
        width: 100%;
        background-position:top ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .exective-img {
        background:linear-gradient( to left,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/pictures\ for\ Upcoming\ Events/Picture Executive Presence & Leadership.JPG');
        height: 85vh;
        width: 100%;
        background-position:top;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .advance-img{
        background:linear-gradient( to left,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/pictures\ for\ Upcoming\ Events/Essential\ Manners\ For\ Men.JPG');
        height: 85vh;
        width: 100%;
        background-position:center ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .exam-img{
        background:linear-gradient( to left,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)),url('../images/pictures\ for\ Upcoming\ Events/ew.png');
        height: 85vh;
        width: 100%;
        background-position:right ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .exam2-img{
        background:linear-gradient( to left,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)),url('../images/pictures\ for\ Upcoming\ Events/ew.png');
        height: 85vh;
        width: 100%;
        background-position:right ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .public-img{
        background:linear-gradient( to left,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../images/pictures\ for\ Upcoming\ Events/artW.png');
        height: 85vh;
        width: 100%;
        background-position:top ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
    .w-lg-75{
        width: 75% !important;
    }
    .about-details{
        display: flex;
        justify-content: flex-start;
    }
    .about-details .icon{
        height: 55px;
        width: 55px;
        background-color: var(--primary);
        color: white;
        font-size: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    .details-list{
        padding-left: 0px !important;
        list-style: none;
    }
    .coach-image{
        height: 60px !important;
        width: 60px !important;
        border: 2px solid var(--primary);
        padding: 10px !important;
        border-radius: 100%;
        display: flex;
        flex-shrink: 0;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
    .coach-image img{
        height: 58px !important;
        max-width: 58px !important;
        border-radius: 100%;
        display: flex;
        flex-shrink: 0;
        object-fit: cover;
        padding: 5px !important;

    }
    .exam-logo{
        height: 80px;
        width: auto !important;
    }

/* ==========================================latest news sideblock */
.side-block{
    width: 100%;

}
.side-block--header{
    background-color: var(--primary);
    padding: 10px;
}
.side-block--header h1{
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.side-block-body{
    padding: 10px 30px; 
    border: 2px solid var(--gray);
    border-top: none !important;
}
.side-block-body ul {
    list-style: none;
}
.side-block-body ul li{
    padding: 10px 10px;
    border-bottom: 1px solid var(--gray);
    color: rgb(141, 142, 144);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.side-block-body ul li a{
    color: rgb(141, 142, 144);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.side-block-body ul li a:hover{
    color: var(--primary);
}
.search-div{
    position: relative;
}
.search-div input{
    background-color: var(--gray);
    font-size: 16px;
    color: var(--black-text);
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
    width: 100%;
}
.search-div  i{
    font-size: 16px;
    color: var(--black-text);
    position: absolute;
    right: 20px;
}
.chat-icon{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0 !important;
}
.chat-icon i{
    font-size: 18px;
    color: white;
}
.news-tag{
    background-color: white;
    border: 2px solid var(--primary);
    font-size: 14px;
    color: var(--primary);
    padding:7px 6px 6px 6px;
    line-height: 10px;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}
.news-tag:hover{
    background-color: var(--primary);
    color: white;
}
.news-social{
    display: flex;
    align-items: center;
}
.news-social-icon{
    height: 35px;
    width: 35px;
    background-color: var(--primary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}
.news-social-icon i{
   font-size: 18px;
   color: white;
   line-height: 10px;
}
.img-desktop{
    display: block;
}
.img-mobile{
    display: none;
}
/* ==================================================special-approach */
.special-approach{
    background: linear-gradient( to left,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../images/coaching.png');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.special-approach h1{
  font-size: 45px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.special-approach-btn--fill  a {
    padding: 15px 50px;
    background-color: var(--primary);
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--primary);
}
.special-approach-btn--fill  a:hover{
    background-color:white;
    color: var(--primary);
}
.special-approach-btn--fill {
    background-color: transparent !important;
    border: none  !important;
}
.special-approach-btn--blank {
    background-color: transparent !important;
    border: none  !important;
}
.special-approach-btn--blank  a {
    padding: 15px 50px;
    background-color:transparent;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid white;
}
.special-approach-btn--blank  a:hover{
    background-color: white;
    color: var(--primary);
}
/* =============================================profile description */
.description{
    background-color: var(--primary);
    padding: 50px ;
    margin-bottom: -50px;
    position: relative;
    z-index: 10;
}
.description p{
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family:'Courgette', cursive ;
}
.profile-description-img{
    background: url('../images/description.png');
    background-position: center;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}
.feature-img{
    height: 80px;
    width: auto;
}
/* =======================================footer */
.contact-sec{
    background: url('../images/home4-bg4.jpg');
    padding: 80px 0px;
}
.contact-icon{
    height: 60px;
    width: 60px;
    background-color: var(--primary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0 !important;
}
.contact-icon i{
  font-size: 25px;
  color: white;
  line-height: 15px;
}